.background {
    background: url("../images/background.png");
    background-position: center;
    height: max-height;
    width: max-width;
    resize: both;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
}